/* цвет основного текста #212121 */
/* вторичный цвет текста  #757575; */
/* третий цвет текста  rgba(255, 255, 255, 0.6); */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* второй цвет фона #2F303A; */

:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --second-bgc:#2F303A;
  }

/* Body */

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
  }

/* Logo */

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  
.logo:hover,
.span {
    color: var(--accent-color);
  }

/* Sitenav */

.sitenav-link {
    color: var(--title-text-color);
    font-weight: 500;
  }

.sitenav-link:hover,
.sitenav-link:focus {
    color: var(--accent-color);
  }

.sitenav-link.current {
    color: var(--accent-color);
  }  

.sitenav {
    list-style: none;   
  }  

.sitenav-link {  
    text-decoration: none;
  } 
  
/* Contacts header */

.contacts-link {
    color: var(--primary-text-color);
    font-weight: 500; 
  }
  
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
  }

.contacts {
    list-style: none;   
  }  

.contacts-link {  
    text-decoration: none;
  } 
  
/* Hero */

.hero {
  background: var(--second-bgc);
  }

.hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

/* Hero button */

.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    text-decoration: none;
    cursor: pointer;
  }
  
/* Section title */

.section-title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

/* Feature и description Особенности компании */

.feature-title {
    color: var(--title-text-color);
    font-weight: bold;
  }  

.feature-description {
    line-height: 1.71;
  }

.feature {
    list-style: none;   
  }    

/* Чем мы занимаемся */

.list {
    list-style: none;   
  }    

/* Team и job  */ 

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18; 
  }

.job-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
  } 

.team {
    list-style: none;   
  }  

/* Footer */

.footer {
    background: var(--second-bgc);
  }

.footer-logo {
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }

.contacts-footer-address {
    color: var(--primary-white-color);
    line-height: 1.71;
    font-style: normal; 
  } 

.contacts-footer-link {
    color: var(--third-text-color);
    line-height: 1.71;
    font-style: normal; 
  }

.contacts-footer {
    list-style: none;   
  } 
  
.contacts-footer-link {  
    text-decoration: none;
  }  

/* Portfolio page */

/* Меню на странице портфолио */ 

.menu-btn {
    color: var(--title-text-color);
    background-color:#F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer; 
  }
  
.menu-btn:hover,
.menu-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
  
/* Наши проекты и описание */ 

.project-title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em; 
  }

.project-description {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
  }

.project {
    list-style: none;   
  }  

.project-link {  
    text-decoration: none;
  } 